<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to write photos</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.957994145536-jhpoj91q7cnnree15o30r8tk0223mfm8</string>
				<string>com.googleusercontent.apps.416305513049-fccde6eeg3670qjjunhr7sg27juie26d</string>
			</array>
		</dict>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiYW5kcmV3dG9rZWxleSIsImEiOiJjbWNxcGdvNG8wMGY5MmxxNXRhcml1MHdxIn0.4HNTMV7HIDeWf2PpsVHVxQ</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyAuthorizationDescription</key>
		<string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
	</dict>
</dict>
</plist>
